* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* height: 350px; */
}

#gameContainer {
  outline: 2px solid black;
  height: 350px;
  width: 460px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display#dis_1 {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display#dis_2 {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#question_container {
  height: 120px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#question_container #question {
  font-size: 25px;
}

#question_container p:nth-child(2) {
  font-size: 40px;
}

#answers {
  /* border: 2px solid red; */
  height: 100px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#answers .answer {
  /* border: 2px solid purple; */
  margin: 0px 30px;
  height: 50px;
  width: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#count_cointainer .counts {
  display: flex;
  font-size: 20px;
}
#count_cointainer .counts p {
  margin: 0px 40px 0px 40px;
}

@media only screen and (max-width: 400px) {
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 380px; */
    /* height: 300px; */
  }

  #gameContainer {
    margin-top: 10px;
    height: 240px;
    width: 340px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .display#dis_1 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .display#dis_2 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #question_container {
    height: 80px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #question_container #question {
    font-size: 16px;
  }

  #question_container p:nth-child(2) {
    font-size: 23px;
  }

  #answers {
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #answers .answer {
    margin: 0px 15px;
    height: 40px;
    width: 70px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #count_cointainer .counts {
    display: flex;
    font-size: 15px;
  }
  #count_cointainer .counts p {
    margin: 0px 40px 0px 40px;
  }
}
