@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap");

/* body {
  margin: 0;
  background-image: url("background01-compressed.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100vh;
  background-color: #dedede;
  display: flex;
} */

/* background */

body {
  font-family: "Noto Sans TC", sans-serif;
}

/* take pic section */

section.takePic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.takePic > h1 {
  text-align: center;
  width: 100vw;
  margin-bottom: 0;
}

section.takePic > video {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
}

section.takePic > button {
  width: 10vw;
  height: 5vh;
}

/* result section */

div#interaction_part {
  outline: 2px solid black;
  height: 190px;
  width: 300px;
  background: aliceblue;
  color: black;
  border-radius: 30px;
}

div.displayContent {
  margin: 0px 0px;
}

div.resultDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  height: 120px;
  outline: 2px solid black;
}

.result_content {
  margin: 0px 10px;
}

#searchDisplay {
  outline: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.resultDisplay > img {
  height: 100px;
  width: 100px;
}

/* section.resultDisplay > img {
  height: 100px;
  width: 100px;
  display: inline;
}

section.resultDisplay > h2 {
  display: inline;
}

section.productName,
section.quantity,
section.price {
  display: inline;
}

section.resultDisplay {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: column;
} */

/* loading */

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 50, 0.3);
  z-index: 100;
}

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* #loading #loading_game, */
#loading #loading_game iframe {
  height: 510px;
  width: 720px;
}

.history {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.history div {
  outline: 1px solid lightblue;
  margin-right: 10px;
  padding: 5px;
  background-color: lightcyan;
  border-radius: 10px;
}

/* tab */

.tab-content {
  width: 95vw;
}

/* price display section */

.priceDisplay {
  display: grid;
  gap: 15px 15px;
  grid-template-columns: auto auto auto auto;
}

.recipeSection {
  display: grid;
  gap: 15px 15px;
  grid-template-columns: auto auto;
}

.priceCard {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: rgb(26, 188, 156);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.productPic {
  height: 100px;
  width: 100px;
  display: inline;
}

.priceCard > a {
  text-decoration: none;
  color: inherit;
}

.priceCard > p {
  display: inline;
  line-height: 5px;
}

/* suggested recipes */

.recipeCard > a {
  text-decoration: none;
  color: inherit;
}

.recipeCard .recipePic {
  height: 100px;
  width: 100px;
  display: inline;
}

.recipeCard {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: rgb(237, 155, 155);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* responsive */

@media (max-width: 700px) {
  .takePic > h1 {
    font-size: 30px;
  }

  .takePic > video {
    height: auto;
    width: 90vw;
  }

  .takePic > button {
    width: 20vw;
    height: 10vh;
  }
}

/* live2d */
#live2d_container {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 520px;
  width: 310px;
  border: 2px solid black;
}

.live2d {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 2px solid black;
  z-index: -10;
}

section.resultDisplay {
  position: fixed;
}

/* canvas#live2d { */
/* border: 2px solid black; */
/* } */

@media only screen and (max-width: 800px) {
  canvas#live2d {
    width: 150px;
    height: 200px;
  }

  div#live2d_container {
    height: 430px;
    width: 170px;
  }

  div#interaction_part {
    outline: 2px solid black;
    height: auto;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  div.resultDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 2px solid black;
  }
  #searchDisplay {
    outline: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 150px;
  }

  div.displayContent {
    margin: 0px 0px;
  }
  /* 
  .result_content {
    margin: 0px 20px;
  } */

  /* div.resultDisplay > img {
    height: 100px;
    width: 100px;
  } */

  #loading #loading_game iframe {
    height: 310px;
    width: 520px;
  }
}
