:root {
  --darker-green: #036666;
  --dark-green: #527e3a;
  --green: RGB(26, 188, 156);
  --light-green: #c2fbd7;
  --pale-yellow: #fefadc;
  --pink: #f6d4ba;
  --dark-pink: #f1a67e;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap");

/* body {
  margin: 0;
  background-image: url("background01-compressed.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100vh;
  background-color: #dedede;
  display: flex;
} */

/* background */

body {
  font-family: "Noto Sans TC", sans-serif;
}

/* title */

#title {
  /*  leverage cascade for cross-browser gradients  */
  background: linear-gradient(
    to right,
    #0bfeff,
    #0bff50 /* hsl(98 100% 62%), 
    hsl(204 100% 59%) */
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
}

/* take pic section */

section.takePic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.takePic > h1 {
  text-align: center;
  width: 100vw;
  margin-bottom: 0;
}

section.takePic > video {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  outline: 5px solid black;
  border-radius: 10px 10px 0 0;
}

section.takePic > button {
  width: 10vw;
  height: 5vh;
}

/* snap button */
.video-bottom {
  background: black;
  height: 100px;
  width: 400px;
  outline: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.snap-container {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.snap-container-2 {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#snapBtn {
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background: white;
  transition: all 1s;
  cursor: pointer;
}

#snapBtn:hover {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

/* snap button ss */

/* #snapBtn {
  background-color: rgba(255,255,255,0.5);
  margin-top: 10px;
  padding: 15px 30px;
  font-size: 20px;
  color: #036666;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right,var(--darker-green), green);
  transition: background-color 0.5s linear; 
  transition: color 1s linear; 
  cursor: pointer;
}

#snapBtn:hover {
  background-color: var(--darker-green);
  color:white
} */

/* search */

.typeSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.inputBox {
  position: relative;
  width: 200px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 3px solid green;
  outline: none;
  border-radius: 10px;
  color: var(--darker-green);
  transition: font-size 2s 1s;
  /*  transition not working */
}

.inputBox span {
  position: absolute;
  left: 0;
  opacity: 0;
  padding: 12px 10px 10px 10px;
  pointer-events: none;
  color: var(--darker-green);
  transition: all 1s;
}

.inputBox input:hover ~ span,
.inputBox input:focus ~ span {
  color: var(--dark-green);
  opacity: 1;
  transform: translateX(15px) translateY(-7px);
  font-size: 0.65rem;
  padding: 0 10px;
  background: var(--pale-yellow);
  font-weight: bolder;
}

/* search button */

.searchBtn {
  width: 120px;
  height: 45px;
  background-color: var(--light-green);
  border-radius: 100px;
  /* box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px; */
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
  font-size: 20px;
}

.searchBtn:hover {
  /* box-shadow: 10px 9px 62px -18px rgba(88, 207, 173, 0.75); */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: scale(1.1) rotate(-1deg);
}

/* input.searchField {
  width: 200px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: grey;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  background-color: #cef1db;
} */

/* ::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
} */

/* input.searchField:focus {
  background-color: rgb(28, 143, 101);
  color: white;
} */

/* result section */

div#interaction_part {
  /* outline: 2px solid black; */
  padding: 10px;
  height: auto;
  width: 250px;
  background: aliceblue;
  color: black;
  border-radius: 30px;
  /* display: block; */
  flex-direction: column;
}

div.resultDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 240px;
  height: auto;
  /* outline: 2px solid black; */
}

.result_content {
  margin: 0px 10px;
}

#searchDisplay {
  /* outline: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.resultDisplay > img {
  height: 100px;
  width: 100px;
}

/* section.resultDisplay > img {
  height: 100px;
  width: 100px;
  display: inline;
}

section.resultDisplay > h2 {
  display: inline;
}

section.productName,
section.quantity,
section.price {
  display: inline;
}

section.resultDisplay {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: column;
} */

/* loading */

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(2, 50, 0, 0.707);
  z-index: 100;
  overflow-y: hidden;
  overflow-x: hidden;
}

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

#loading #loading_game {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #loading #loading_game, */
#loading #loading_game iframe {
  height: 370px;
  width: 475px;
}

.history {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.history div {
  outline: 1px solid lightblue;
  margin-right: 10px;
  padding: 5px;
  background-color: lightcyan;
  border-radius: 10px;
  cursor: pointer;
}

.history div:hover {
  background-color: rgb(118, 244, 244);
  transform: scale(1.25);
}

.history div:active {
  background-color: blue;
  color: white;
}

/* tab */

.tab-content {
  width: 100vw;
}

.tabs {
  position: relative;
}

/* #live2d_container {
  z-index: 10;
} */
/* price display section */

.priceDisplay {
  display: grid;
  gap: 15px 15px;
  grid-template-columns: repeat(6, 1fr);
}

.supermarket {
  font-size: large;
}

.price {
  font-size: 25px;
  color: var(--darker-green);
}

div.sortButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.sortButtonsContainer > button {
  margin: 0.2rem;
  width: 200px;
  height: 80px;
  background-color: var(--green);
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  color: white;
}

div.sortButtonsContainer > button:hover {
  transform: translateY(-4px);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
  transition: all 0.4s;
  cursor: pointer;
  background-color: var(--darker-green);
  color: white;
}

div.sortButtonsContainer > button:focus {
  transform: translateY(-4px);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
  transition: all 0.4s;
  cursor: pointer;
  background-color: var(--darker-green);
  color: white;
}

.recipeSection {
  display: grid;
  gap: 15px 15px;
  grid-template-columns: repeat(4, 1fr);
}

.recipeName {
  font-size: large;
  color: var(--darker-green);
}

@media (max-width: 1600px) {
  .priceDisplay {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1300px) {
  .priceDisplay {
    grid-template-columns: repeat(4, 1fr);
  }
  .recipeSection {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .priceDisplay {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .priceDisplay {
    grid-template-columns: repeat(2, 1fr);
  }
  .recipeSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

.priceCard {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: rgb(26, 188, 156);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* display: inline-flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: transform 0.25s;
}

.productPic {
  height: 100px;
  width: 100px;
  display: inline;
}

.priceCard > a {
  text-decoration: none;
  color: inherit;
}

.priceCard > p {
  display: inline;
  line-height: 5px;
}

/* suggested recipes */

.recipeCard > a {
  text-decoration: none;
  color: inherit;
}

.recipeCard .recipePic {
  height: 100px;
  width: 100px;
  display: inline;
}

.recipeCard {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: rgb(237, 155, 155);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: transform 0.2s;
  background-color: white;
}

.priceCard:hover {
  transform: skew(-7deg);
}

.recipeCard:hover {
  transform: skew(-7deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* responsive */

@media (max-width: 700px) {
  .takePic > h1 {
    font-size: 30px;
  }

  .takePic > video {
    height: auto;
    width: 90vw;
  }

  .takePic > button {
    width: 20vw;
    height: 10vh;
  }
}

/* live2d */
#live2d_container {
  position: fixed;
  bottom: 60px;
  right: 10px;
  height: 460px;
  width: 250px;
  z-index: 10;
  /* position: relative; */
}

canvas#live2d {
  height: 300px;
  width: 250px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  /* outline: 2px solid #527e3a; */
  /* border-radius: 500px; */
}

section.resultDisplay {
  position: fixed;
}

/* canvas#live2d { */
/* border: 2px solid black; */
/* } */

@media only screen and (max-width: 700px) {
  canvas#live2d {
    width: 160px;
    height: 200px;
    position: fixed;
    bottom: 10px;
    left: 10px;
  }

  div#live2d_container {
    height: 530px;
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 5px;
    left: 10px;
  }

  div#interaction_part {
    /* outline: 2px solid black; */
    padding: 10px;
    height: auto;
    width: 160px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  div.resultDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;

    /* border: 2px solid black; */
  }
  #searchDisplay {
    /* outline: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: auto;
    width: 150px; */
  }

  div.displayContent {
    margin: 0px 0px;
    /* height: 20px; */
    /* width: 40px; */
  }
  /* 
  .result_content {
    margin: 0px 20px;
  } */

  /* div.resultDisplay > img {
    height: 100px;
    width: 100px;
  } */
  #loading #loading_game {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #loading #loading_game iframe {
    height: 250px;
    width: 350px;
  }
}

/* bubble speech */
#interaction_part {
  position: relative;
  margin: 0.5em auto;
  padding: 1em;
  width: 10em;
  height: 4em;
  border-radius: 0.25em;
  transform: rotate(0deg) rotateY(15deg);
  background: #629bdd !important;
  font: 2em/4;
  text-align: center;
}

#interaction_part:before,
#interaction_part:after {
  position: absolute;
  z-index: -1;
  content: "";
}

#interaction_part:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  transform: rotate(2deg) translate(0.35em, -0.15em) scale(1.02);
  background: #f4fbfe;
}

#interaction_part:before {
  border: solid 0 transparent;
  border-right: solid 3.5em #f4fbfe;
  border-bottom: solid 0.25em #629bdd;
  bottom: 0.25em;
  left: 1.25em;
  width: 0;
  height: 1em;
  transform: rotate(45deg) skewX(75deg);
}

@media (max-width: 700px) {
  .resultDisplay.displayContent img {
    display: none;
  }
}

.animate-pop-up {
  animation-duration: 0.5s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
